.songRow{
    margin-left: 30px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 5px;
}

.songRow:hover{
    cursor:pointer;
    background: #353031;
    opacity: 0.8;
}

.a{
    margin-left: 20px;
}

.a h1{
    font-size: 16px;
}

.a p{
    font-size: 14px;
    margin-top: 3px;
    color: grey;
}

.songRow__album{
    height: 40px;
    width: 40px;
}

.index {
    margin-right: 20px;
    color: grey;
}